[submodule "dependencies/optional-artifact-submodules/sampgdk"]
	path = dependencies/optional-artifact-submodules/sampgdk
	url = git@github.com:Zeex/sampgdk.git
[submodule "dependencies/optional-artifact-submodules/samp-log-core"]
	path = dependencies/optional-artifact-submodules/samp-log-core
	url = git@github.com:maddinat0r/samp-log-core.git
[submodule "dependencies/samp-plugin-sdk"]
	path = dependencies/samp-plugin-sdk
	url = git@github.com:Y-Less/samp-plugin-sdk.git
[submodule "dependencies/subhook"]
	path = dependencies/subhook
	url = git@github.com:Zeex/subhook.git
